<div class="col-lg-offset-4 col-lg-4 well">
	<div class="panel noBorder">
		<div class="panel-heading wellColor">
			<h1>Login</h1>
		</div>
		<form class="wellColor noBorder" name="form" ng-submit="login(email, password);" novalidate>
			<div class="form-group">
				<label for="email" class="control-label">Email</label>
				<input type="email" ng-model="email" name="email" id="email" placeholder="Email" required class="form-control">
				<span ng-show="form.email.$dirty &amp;&amp; form.email.$error.email" class="help-block">Email is invalid</span>
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Password</label>
				<input type="password" name="password" id="password" ng-model="password" placeholder="Password" required match="verification" class="form-control">
				<span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block">Please enter a password</span>
			</div>
			<input type="submit" value="Login" ng-disabled="form.$invalid" class="btn btn-primary">
		</form>
	</div>
</div>